{
  "extends": [
    "next",
    "next/core-web-vitals"
  ],
  "rules": {
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object"
        ]
      }
    ]
  },
  "settings": {
    "import/internal-regex": "^@eh"
  }
}
