.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;

  @media (min-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1000px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (min-width: 2000px) {
    grid-template-columns: repeat(8, 1fr);
  }
}

.event {
  min-width: 200px;
}

.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

  @media (min-width: 500px) {
    justify-content: flex-end;
    gap: 0.8rem;
  }

  @media (min-width: 1000px) {
    gap: 1rem;
  }
}

.title {
  font-weight: 300;
  margin-bottom: 1rem;
}

.vertical {
  vertical-align: text-top;
}

.qrcode {
  text-align: center;
}

.more {
  width: fit-content;
  margin: 2rem auto auto;
}

.divider {
  margin: 0;
}
