.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 800px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 1660px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (min-width: 2500px) {
    grid-template-columns: repeat(8, 1fr);
  }
}

.event {
  min-width: 200px;
}

.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.created {
  font-weight: 300;
  margin-bottom: 1rem;
}

.vertical {
  vertical-align: text-top;
}

.more {
  width: fit-content;
  margin: 2rem auto auto;
}

.info {
  margin-left: 0.5rem;

  @media (min-width: 768px) {
    margin-left: 1rem;
  }
}
