.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;

  @media (min-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1000px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (min-width: 2000px) {
    grid-template-columns: repeat(8, 1fr);
  }
}

.event {
  min-width: 200px;
}

.panel {
  margin-bottom: 1rem;
  gap: 1rem;
}

.title {
  font-weight: 300;
  margin-bottom: 1rem;
}

.vertical {
  vertical-align: text-top;
}

.qrcode {
  text-align: center;
}
