.control {
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.fix {
  width: 100% !important;
  margin-left: initial !important;
  margin-right: initial !important;
}
