.title-container {
  overflow: hidden;
}

.title {
  margin-bottom: 1rem;
}

.favorite {
  flex-shrink: 0;
  margin-left: 1rem;
}

.link,
.link:hover,
.link:focus-within {
  color: var(--rs-text-link);
}
