@use "~@eh/shared/styles";

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.title {
  @include styles.line-clamp(2);
  font-size: medium;
  line-height: normal;

  @media (min-width: 768px) {
    font-size: large;
  }
}

.content {
  @include styles.line-clamp(3);
  word-break: break-word;
}

.badge {
  flex-shrink: 0;
}
