body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}

button:focus {
  outline: none;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0;
}

a,
a:hover,
a:focus-within {
  color: inherit;
  text-decoration: inherit;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--rs-table-scrollbar-vertical-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--rs-table-scrollbar-thumb);
}
