.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1rem;
}

@media (max-width: 678px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0.5rem;
  }
}
